$maim-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;

// text color
$white-txt-cl: #ffffff;
$title-txt-cl: #303030;
$main-txt-cl: #555555;
$secondary-txt-cl: #9da4bd;
$accent-cl: #ff6c00;
$secondery-title-txt-xl: rgba(157, 164, 189, 0.6);

// backgraund color
$main-bg-cl: #ffffff;
$secondary-bg-cl: #191c26;
$bg-cl: #f7f7f7;

// animations
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
