.btn {
	padding: 12px 20px;

	font-weight: 600;
	font-size: 12px;
	line-height: 1.34;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	border: 1px solid $accent-cl;
	border-radius: 25px;
	background-color: transparent;
	color: inherit;

	&:hover,
	&:focus {
		background-color: $accent-cl;
	}
}

.btn__wite-txt {
	color: $white-txt-cl;
}
