.footer {
	padding-top: 44px;
	padding-bottom: 44px;

	@media screen and (min-width: 768px) {
		padding-top: 56px;
		padding-bottom: 56px;
	}
}

.basement {
	display: flex;
	@media screen and (max-width: 767px) {
		flex-direction: column-reverse;
	}

	@media screen and (min-width: 768px) {
		justify-content: space-between;
	}

	// basement__text
	&__text {
		font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		letter-spacing: 0.2em;

		color: $secondary-txt-cl;
	}
	// basement__list
	&__list {
		position: relative;

		display: flex;
		justify-content: end;
		@media screen and (max-width: 767px) {
			margin-bottom: 20px;
		}

		&::before {
			content: "";
			position: absolute;
			right: 210px;
			top: 8px;
			width: 60px;
			height: 1px;
			background-color: $title-txt-cl;
		}
	}
	// basement__item
	&__item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	// basement__link
	&__link {
		font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		letter-spacing: 0.2em;

		color: $title-txt-cl;
	}
}
