.footer {
	// footer__container
	&__container {
		padding-top: 84px;
		padding-bottom: 84px;
		background-color: $secondary-bg-cl;

		@media screen and (min-width: 768px) {
			padding-top: 100px;
			padding-bottom: 100px;
		}

		@media screen and (min-width: 1280px) {
			padding-top: 130px;
			padding-bottom: 130px;
		}

		&-bgi {
			background-image: url(../imega/footer/tablet-bg-img.png);
			background-repeat: no-repeat;
			@media screen and (min-width: 768px) {
				background-image: url(../imega/footer/tablet-bg-img.png);
			}
			@media screen and (min-width: 1280px) {
				background-image: url(../imega/footer/desktop-bg-img.png);
			}
		}
	}
	// footer__titel
	&__titel {
		margin-bottom: 44px;
		width: 100%;

		font-family: $secondary-font;
		font-weight: 700;
		font-size: 42px;
		line-height: 49px;
		letter-spacing: 0.05em;

		color: $white_txt_cl;
		@media screen and (max-width: 767px) {
			text-align: center;
		}
	}
	// footer__form
	&__form {
	}
	// footer__address
	&__address {
	}
	// footer__subtitel
	&__subtitel {
	}
	// footer__text
	&__text {
	}
	// footer__basement
	&__basement {
	}
}
.form {
	// form__label
	&__label {
	}
	// form__input
	&__input {
		background-color: transparent;
		border: none;
	}
}

.address {
	// address__list
	&__list {
	}
	// address__item
	&__item {
	}
	// address__link
	&__link {
	}
}

.basement {
	// basement__text
	&__text {
	}
	// basement__list
	&__list {
	}
	// basement__item
	&__item {
	}
	// basement__link
	&__link {
	}
}
