.header {
	position: relative;
	// header__container
	&__container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-top: 40px;
		@media screen and (min-width: 768px) {
			display: flex;
		}
	}

	// header__menu
	&__menu {
		@media screen and (max-width: 767px) {
			display: none;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;

			padding-top: 118px;
			padding-left: 40px;
			width: 337px;
			background-color: $main-bg-cl;
			z-index: 2;

			&.is-open {
				display: block;
			}
		}
		@media screen and (min-width: 768px) {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
		}
	}

	// header__contacts
	&__contacts {
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
	}
	// header__tel
	&__tel {
		display: block;
		margin-bottom: 24px;

		font-weight: 600;
		font-size: 18px;
		line-height: 1.39;
		letter-spacing: 0.1em;
		color: $title-txt-cl;

		&:hover,
		&:focus {
			color: $accent-cl;
		}
		@media screen and (min-width: 768px) {
			display: none;
		}
		@media screen and (min-width: 1280px) {
			display: block;

			margin-right: 40px;

			font-size: 12px;
			line-height: 1.33;

			color: $white-txt-cl;
		}
	}
	// header__btn
	&__btn {
		@media screen and (max-width: 767px) {
			padding: 12px 37px;
		}
		color: $title-txt-cl;
		@media screen and (min-width: 768px) {
			color: $white-txt-cl;
		}
	}
}

.logo {
	// logo_-icon
	&__icon {
		width: 69px;
		height: 55px;
		@media screen and (max-width: 767px) {
			fill: $white-txt-cl;
		}
	}
}

.mb-menu {
	@media screen and (min-width: 768px) {
		width: 100%;
	}

	// mb-menu__btn
	&__btn {
		position: absolute;
		top: 48px;
		right: 31px;
		background-color: transparent;
		border: none;
		z-index: 3;
		fill: $white-txt-cl;

		// mb-menu__btn-close
		&-close {
			display: none;
		}

		&.is-open {
			.mb-menu__btn-menu {
				display: none;
			}
			.mb-menu__btn-close {
				display: block;
				fill: $title-txt-cl;
			}
		}

		@media screen and (min-width: 768px) {
			display: none;
		}

		// mb-menu__btn-icon
		&-icon {
			width: 40px;
			height: 40px;
		}
	}
}

body.menu__is-open {
	overflow: hidden;
}

.site-nav {
	// site-nav__list
	&__list {
		@media screen and (min-width: 768px) {
			display: flex;
		}
		@media screen and (min-width: 768px) {
			margin-left: 75px;
		}
	}
	// site-nav__item
	&__item {
		@media screen and (max-width: 767px) {
			margin-bottom: 64px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		@media screen and (min-width: 768px) {
			&:not(:last-child) {
				margin-right: 24px;
			}
		}
		@media screen and (min-width: 1280px) {
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
	}
	// site-nav__link
	&__link {
		font-weight: 600;
		font-size: 18px;
		line-height: 1.39;
		letter-spacing: 0.1em;
		color: $title-txt-cl;

		@media screen and (min-width: 768px) {
			font-weight: 600;
			font-size: 11px;
			line-height: 1.33;
			color: $white-txt-cl;
		}

		&:hover,
		&:focus {
			color: $accent-cl;
		}
	}
}
